.jjjj {
  width: 80%;
  height: 400px;
  background: transparent;
  position: absolute;
  bottom: -250px;
  left: 10%;
}
.stickers_bar {
  width: 80%;
  height: 100px;
  background: red;
  margin-left: 10%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.separator {
  height: 250px;
}
.chef_word {
  width: 80% !important;
  margin-left: 10% !important;
}
@media screen and (max-width: 800px) {
  .chef_word {
    width: 90% !important;
    margin-left: 5% !important;
  }
}
